@charset "utf-8";

:root{
  --main-color: #2957e2;
  --sub-color:#eee;
  --sub-font: 3rem;
}
html{
  /* font-size 10px 고정 */
  font-size: 62.5%;
}
body{
  /* ↓ font-size반응형 처리 함수 */
  /* font-size: clamp(1rem,1vw,1.8rem); */
  background-color: var(--main-color);
  color: var(--sub-color);
}
@keyframes logoFade {
  0%, 100%{opacity: 1;}
  50%{opacity: 0.5;}
}
#logo{
  z-index: 100;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--sub-color);
  color: var(--main-color);
  font-size: 2rem;
  text-align: center;
  line-height: 80px;
  position: fixed;
  top: 20px;
  left: 20px;
  animation: logoFade 4s linear infinite;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
#logo > li{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  transition: top 0.5s;
  cursor: pointer;
}
#logo > li:nth-child(1){
  top: 0;
}
#logo > li:nth-child(2){
  top: 100%;
}
#logo:hover > li:nth-child(1){
  top: -100%;
}
#logo:hover > li:nth-child(2){
  top: 0;
}

/* header 영역 */
header{
  /* padding-top: 20%; */
  padding-top: 100px;
  height: 100vh;
  position: relative;
  font-size: 3rem;
}
nav{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.gnb{
  font-size: 4rem;
  font-weight: bolder;
  width: 80%; /*오른쪽에서 왼쪽으로 채워지는 효과 주려고*/
}
.gnb > li{
  position: relative;
  z-index: 0;
}
ul.gnb > li::before{
  content: '';
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -1rem;
  background-color: var(--sub-color);
  z-index: -1;
  transition: 0.5s;
}
ul.gnb > li:hover:before{
  width: 100%;
}
ul.gnb > li > a{
  transition: 0.5s;
  transform-origin: left center;
}
ul.gnb > li:hover > a{
  transform: scale(1.3);
  color: var(--main-color);
}
.title{
  font-size: 2rem;
  /* ↓ 원하는 곳만 현재 설정 그대로 이동 시킴 */
  align-self: flex-end;
}
.title > li{
  margin: 2rem 0;
}

h1{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14vw;
}
h1:before{
  content: "PORTFOLIO";
  position: absolute;
  top: -40px;
  left: -40px;
  font-size: 16rem;
  color: transparent;
  -webkit-text-stroke: 1px var(--sub-color);
}

/*arrow-box 회전 keyframe*/
@keyframes rotateBox {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(180deg);}
}
.arrow-wrap{
  position: absolute;
  bottom: 20%;
  left: 15%;
  /* transform: translateX(-50%); */
  width: 100px;
  height: 80px;
  opacity: 0.7;
}
.arrow-wrap > div{
  position: absolute;
  top: 0;
  left: 0;
}
.arrow-wrap > .arrow-box{
  width: 100%;
  height: 100%;
  background-color: var(--sub-color);
  border-radius: 10px;
  transform: rotate(30deg);
  animation: rotateBox 5s linear infinite;
}
.arrow-wrap > .arrow{
  color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
}

/* 공통 */
section{
  width: 90%;
  margin: 10rem auto;
}
/* about */
section#about{
  margin-top: 10rem;
  font-size: 1.5rem;
}
#about .info{
  background-color: var(--sub-color);
  color: var(--main-color);
  padding: 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  position: relative;
}
#about .info h2{
  z-index: 1;
  font-size: var(--sub-font);
  display: inline-block;
  position: relative;
  color: var(--sub-color);
  -webkit-text-stroke: 1px var(--main-color);
  margin: 5rem 0;
}
#about .info h2:before{
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  width: 100px;
  height: 60px;
  /* aspect-ratio: 1/0.7; */
  background-color: var(--main-color);
  border-radius: 20px;
}
#about .info p{
  text-align: right;
  word-break: keep-all;
}

#about .word{
  margin: 5rem 0;
}
#about .word h2{
  font-size: var(--sub-font);
  margin: 1rem 0;
}
#about .word h2.bottom{
  text-align: right;
}
#about .keyword{
  background-color: transparent;
  border: 1px solid var(--sub-color);
  border-radius: 30px;
}
#about .keyword > li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}
#about .keyword > li > p{
  /* font-size: 3rem; -> vw로 변경하면 반응형 가능*/
  font-size: 4vw;
  font-weight: bolder;
  padding: 1rem 1.5rem;
  border: 2px solid var(--sub-color);
  border-radius: 4rem;
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  /* 단어 단위로 줄바꿈이 되게 하는 속성 */
  word-break: keep-all;
  text-align: center;
}
#about .keyword > li > p.yes:hover{
  background-color: var(--sub-color);
  color: var(--main-color);
}

/* project */
#projects > .project-wrap{
  margin-bottom: 5rem;
}
#projects > .project-wrap > h2{
  border: 1px solid var(--sub-color);
  font-size: var(--sub-font);
  border-radius: 3rem;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}
#projects > .project-wrap > .item-list{
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.item-list > .item{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.item-list > .item > h3,
.item-list > .item > p{
  padding: 0.2rem;
}
.item-list > .item > .item-img {
  /* width: 100%; */
  aspect-ratio: 16/9;
  background-color: #888;
}
#projects > .project-wrap > .item-list > li > *{
  border: 1px solid var(--sub-color);
  border-top: none;
}
#projects > .project-wrap > .item-list > li > .item-title{
  border-top: 1px solid var(--sub-color);
  background-color: var(--sub-color);
  color: var(--main-color);
}
#projects > .project-wrap > .item-list > li > .item-detail{
  background-color: var(--sub-color);
  color: var(--main-color); 
}
.item-detail > li{
  display: flex;
  align-items: center;
}
.item-detail > li > p{
  width: 100px;
  text-align: right;
  margin-right: 0.5rem;
}
.item-detail > li > .tool{
  display: flex;
}
.item-detail > li > .tool > p{
  margin: 0.5rem 0.3rem;
  background-color: var(--main-color);
  color: var(--sub-color);
  border: 1px solid var(--main-color);
  border-radius: 20px;
  padding: 5px;
}
.item-list > .item > .btn{
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.item-list > .item > .btn > p{
  cursor: pointer;
  flex: 1;
  background-color: var(--main-color);
  color: var(--sub-color);
  text-align: center;
  padding: 10px 0;
}
.item-list > .item > .btn > p:hover{
  filter: brightness(80%);
}

/* practice레이아웃 변경 */
#projects > .practice > .item-list{
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.practice .item{
  width: 47%;
}
.practice .item-detail > li > p{
  display: none;
}

/* skills */
#skills > h2{
  border: 1px solid var(--sub-color);
  font-size: var(--sub-font);
  border-radius: 3rem;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}
#skills > .skill-item{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}
#skills > .skill-item > li{
  background-color: var(--sub-color);
  color: #333;
  padding: 1rem 2rem;
  border-radius: 4rem;
  font-size: 2rem;
  font-weight: bolder;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#skills > .skill-item > li:hover{
  filter: brightness(80%);
}

/* shape background 색상 */
#skills > .skill-item > .shape1{ background-color: #9670ce }
#skills > .skill-item > .shape2{ background-color: #E3EEB2 }
#skills > .skill-item > .shape3{ background-color: #71C0BB }
#skills > .skill-item > .shape4{ background-color: #87b9ff }
#skills > .skill-item > .shape5{ background-color: #a9b4cc }
#skills > .skill-item > .shape6{ background-color: #F6995C; }
#skills > .skill-item > .shape7{ background-color: #FFF7D4; }
#skills > .skill-item > .shape8{ background-color: #B1C381; }
#skills > .skill-item > .shape9{ background-color: #D2E0FB; }
#skills > .skill-item > .shape10{ background-color: #8294C4; }
#skills > .skill-item > .shape11{ background-color: #FD8A8A; }
#skills > .skill-item > .shape12{ background-color: #359be9; }
#skills > .skill-item > .shape13{ background-color: #A8D1D1; }

/* footer */
footer{
  background-color: var(--sub-color);
  color: var(--main-color);
  font-size: 3rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > .container > .text > h2{
  font-size: 6rem;
}
footer > .container > .text > p{
  padding: 0 1rem;
  font-size: 1.5rem;
}
footer .text{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
}
.mail{
  /* display: flex;
  justify-content: center;
  align-items: center;
  */
  font-size: 2rem;
}
.mail > p{
  background-color: var(--main-color);
  color: var(--sub-color);
  padding: 1rem;
  border-radius: 4rem;
  margin: 1rem 0;
}
.mail > p:hover{
  filter: brightness(80%);
}