@font-face {
    font-family: 'PyeojinGothic';
    src: url('../font/PyeojinGothic-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'PyeojinGothic';
    src: url('../font/PyeojinGothic-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PyeojinGothic';
    src: url('../font/PyeojinGothic-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Sansation';
    src: url('../font/PyeojinGothic-Light.woff') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Sansation';
    src: url('../font/Sansation-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Sansation';
    src: url('../font/Sansation-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
//