@charset "UTF-8";
/***변수 저장***/
/**************************************************/
body {
  font-family: "Sansation";
  font-weight: 100;
}

body > .cursor{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(218, 68, 160);
}

/***HEADER****/
header {
  height: 40%;
  width: 100%;
  background-image: url(../images/banner-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7rem;
}
header h1 {
  margin: 0 5rem;
  letter-spacing: 7px;
  font-family: "Sansation";
  font-weight: 600;
  font-size: 5rem;
  color: #222;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  header h1 {
    font-size: 3rem;
    margin: 0 3rem;
    white-space: nowrap;
  }
}

/***SECTION#MAIN****/
section#main .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4rem;
  margin: 1rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*padding: 0 5rem; 추가*/
  /*타블렛 반응형*/
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  section#main .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2rem;
    width: auto;
  }
}
section#main .top .txt-1 {
  border: 1px solid #acacac;
  padding: 30px;
  line-height: 2;
  text-align: center;
  cursor: pointer;
}
section#main .top .txt-1:hover {
  background-color: rgb(241, 148, 72);
  color: #eee;
}
section#main .top .txt-1 span {
  font-family: "PyeojinGothic";
  font-weight: 600;
}
section#main .top .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
  margin: 3rem 0;
  margin-left: 50px;
  /*타블렛 반응형*/
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  section#main .top .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
section#main .top .card .card1, section#main .top .card .card2, section#main .top .card .card3, section#main .top .card .card4 {
  /*타블렛 반응형*/
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  section#main .top .card .card1, section#main .top .card .card2, section#main .top .card .card3, section#main .top .card .card4 {
    width: 100%;
  }
}
section#main .top .card .card1 img, section#main .top .card .card2 img, section#main .top .card .card3 img, section#main .top .card .card4 img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 3px 3px 20px #bbb;
          box-shadow: 3px 3px 20px #bbb;
}
section#main .top .card .txt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
section#main .top .card .txt-box p:nth-child(2) {
  cursor: pointer;
}
section#main .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4rem;
  margin: 1rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*타블렛 반응형*/
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  section#main .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    gap: 2rem;
  }
}
section#main .bottom .txt-1 {
  padding: 30px;
  line-height: 2;
  text-align: center;
  cursor: pointer;
  width: 200px;
}
section#main .bottom .txt-1:hover {
  background-color: #e74f4f;
  color: #eee;
}
section#main .bottom .txt-1 span {
  font-family: "PyeojinGothic";
  font-weight: 600;
}
section#main .bottom .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
  margin: 3rem 0;
  margin-right: 50px;
  /*타블렛 반응형*/
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  section#main .bottom .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
section#main .bottom .card .card1, section#main .bottom .card .card2, section#main .bottom .card .card3, section#main .bottom .card .card4 {
  width: 100%;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  section#main .bottom .card .card1, section#main .bottom .card .card2, section#main .bottom .card .card3, section#main .bottom .card .card4 {
    width: 100%;
  }
}
section#main .bottom .card .card1 img, section#main .bottom .card .card2 img, section#main .bottom .card .card3 img, section#main .bottom .card .card4 img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 3px 3px 20px #bbb;
          box-shadow: 3px 3px 20px #bbb;
}
section#main .bottom .card .txt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
section#main .bottom .card .txt-box p:nth-child(2) {
  cursor: pointer;
}

/***SECTION#NOTICE****/
section#notice .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
section#notice .content .left-top {
  width: 300px;
  height: 200px;
  background-color: #beccfc;
  border-top-right-radius: 125px;
  border-bottom-right-radius: 125px;
  margin-bottom: 30px;
}
section#notice .content .left {
  margin-left: 100px;
  font-size: 30px;
  font-family: "PyeojinGothic";
  font-weight: 400;
}
section#notice .content .left hr {
  width: 70%;
  margin-bottom: 80px;
}
section#notice .content .left p {
  margin-bottom: 70px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  section#notice .content .left p {
    display: inline-block;
    font-size: 20px;
    width: 320px;
  }
}
section#notice .content .right {
  width: 500px;
  height: 250px;
  background-color: #ffd6ee;
  display: inline-block;
  border-top-left-radius: 125px;
  border-bottom-left-radius: 125px;
  margin-bottom: 70px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.info .info-card1, .info .info-card2 {
  background-size: cover;
  background-position: center;
  width: auto;
  height: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  /*타블렛 반응형*/
}
.info .info-card1::after, .info .info-card2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .info .info-card1, .info .info-card2 {
    height: auto;
    padding: 40px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.info .info-card1 .card-p, .info .info-card2 .card-p {
  width: 100%;
  position: absolute;
  left: 20px;
  bottom: 50px;
  z-index: 1;
  color: #eee;
  font-weight: 400;
  /*타블렛 반응형*/
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .info .info-card1 .card-p, .info .info-card2 .card-p {
    position: static;
    text-align: center;
    margin-bottom: 1rem;
  }
}
.info .info-card1 .txt, .info .info-card2 .txt {
  width: 96%;
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #eee;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /*타블렛 반응형*/
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .info .info-card1 .txt, .info .info-card2 .txt {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
.info .info-card1 .txt p, .info .info-card2 .txt p {
  display: inline-block;
  border-radius: 5%;
  padding: 10px;
  cursor: pointer;
}
.info .info-card1 .txt p:nth-child(2):hover, .info .info-card2 .txt p:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.info .info-card1 {
  background-image: url(../images/workshop-img.jpg);
}
.info .info-card2 {
  background-image: url(../images/gallery-img.jpg);
}

/***FOOTER****/
footer {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*타블렛 반응형*/
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    padding: 2rem, 1rem;
    position: relative;
  }
}
footer div p {
  margin-left: 50px;
  text-align: left;
  font-family: "Sansation";
  font-weight: 400;
  font-size: 20px;
  /*타블렛 반응형*/
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  footer div p {
    margin-left: 1rem;
  }
}
footer nav p {
  font-family: "Sansation";
  font-weight: 400;
  margin-bottom: 20px;
}
footer nav ul {
  cursor: pointer;
}
footer nav ul li {
  margin-bottom: 10px;
}
footer .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 40px;
  padding-right: 50px;
  gap: 30px;
  color: #333;
  cursor: pointer;
  /*타블렛 반응형*/
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  footer .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    bottom: -20px;
    right: -30px;
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */